@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model FieldNotesViewModel

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>BYU Fag el-Gamous Excavation Site</h1>
                    <span class="subheading">Intex Application</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <form asp-action="Edit" method="post">
        @if (Model != null)
        {
            @*if the model is not blank, then we are dealing with an update request, and we need the ID to know what to update*@
            <input asp-for="Identifier" hidden value="@Model.Identifier" />
            @*change last edited to current user*@
            <input asp-for="LocationMeasurement.LastModifiedBy" hidden value="@User.Identity.Name" />
            <input asp-for="Osteology.LastModifiedBy" hidden value="@User.Identity.Name" />
            <input asp-for="OsteologySkull.LastModifiedBy" hidden value="@User.Identity.Name" />
            <input asp-for="Demographic.LastModifiedBy" hidden value="@User.Identity.Name" />
            <input asp-for="ArtifactBioNote.LastModifiedBy" hidden value="@User.Identity.Name" />
            @*keep the created information the same*@


            <h3>Location Measurement</h3>
            @if (Model.LocationMeasurement != null)
            {
                <input asp-for="LocationMeasurement.CreatedBy" hidden value="@Model.LocationMeasurement.CreatedBy" />
                <label asp-for="LocationMeasurement.Nors">NORS</label>
                <select asp-for="LocationMeasurement.Nors" value="@Model.LocationMeasurement.Nors">
                    <option value="">--Select One--</option>
                    <option value="N">North</option>
                    <option value="S">South</option>
                </select>
                <label asp-for="LocationMeasurement.LowNs">Low North or South Number</label>
                <select asp-for="LocationMeasurement.LowNs" value="@Model.LocationMeasurement.LowNs">
                    <option value="">--Select One--</option>
                    <option value=0>0</option>
                    <option value=10>10</option>
                    <option value=20>20</option>
                    <option value=30>30</option>
                    <option value=40>40</option>
                    <option value=50>50</option>
                    <option value=60>60</option>
                    <option value=70>70</option>
                    <option value=80>80</option>
                    <option value=90>90</option>
                    <option value=100>100</option>
                    <option value=110>110</option>
                    <option value=120>120</option>
                    <option value=130>130</option>
                    <option value=140>140</option>
                    <option value=150>150</option>
                    <option value=160>160</option>
                    <option value=170>170</option>
                    <option value=180>180</option>
                    <option value=190>190</option>
                    <option value=200>200</option>
                </select>
                <br />
                <label asp-for="LocationMeasurement.Eorw">EORW</label>
                <select asp-for="LocationMeasurement.Eorw" value="@Model.LocationMeasurement.Eorw">
                    <option value="">--Select One--</option>
                    <option value="E">East</option>
                    <option value="W">West</option>
                </select>
                <label asp-for="LocationMeasurement.LowEw">Low East or West Number</label>
                <select asp-for="LocationMeasurement.LowEw" value="@Model.LocationMeasurement.LowEw">
                    <option value="">--Select One--</option>
                    <option value=0>0</option>
                    <option value=10>10</option>
                    <option value=20>20</option>
                    <option value=30>30</option>
                    <option value=40>40</option>
                    <option value=50>50</option>
                    <option value=60>60</option>
                    <option value=70>70</option>
                    <option value=80>80</option>
                    <option value=90>90</option>
                    <option value=100>100</option>
                    <option value=110>110</option>
                    <option value=120>120</option>
                    <option value=130>130</option>
                    <option value=140>140</option>
                    <option value=150>150</option>
                    <option value=160>160</option>
                    <option value=170>170</option>
                    <option value=180>180</option>
                    <option value=200>200</option>
                </select>
                <br />
                <label asp-for="LocationMeasurement.Square">Square</label>
                <select asp-for="LocationMeasurement.Square" value="@Model.LocationMeasurement.Square">
                    <option value="NE">NE</option>
                    <option value="NW">NW</option>
                    <option value="SE">SE</option>
                    <option value="SW">SW</option>
                </select>
                <label asp-for="LocationMeasurement.BurialNum">Burial Number</label>
                <input asp-for="LocationMeasurement.BurialNum" value="@Model.LocationMeasurement.BurialNum" />
                <label asp-for="LocationMeasurement.Direction">Direction</label>
                <select asp-for="LocationMeasurement.Direction" value="@Model.LocationMeasurement.Direction">
                    <option value="">--Select One--</option>
                    <option value="E">East</option>
                    <option value="W">West</option>
                </select>
                <br />
                <label asp-for="LocationMeasurement.Depth">Depth</label>
                <input asp-for="LocationMeasurement.Depth" value="@Model.LocationMeasurement.Depth" /><br />
                <label asp-for="LocationMeasurement.HeadSouth">HeadSouth</label>
                <input asp-for="LocationMeasurement.HeadSouth" value="@Model.LocationMeasurement.HeadSouth" /><br />
                <label asp-for="LocationMeasurement.FeetSouth">FeetSouth</label>
                <input asp-for="LocationMeasurement.FeetSouth" value="@Model.LocationMeasurement.FeetSouth" /><br />
                <label asp-for="LocationMeasurement.HeadWest">HeadWest</label>
                <input asp-for="LocationMeasurement.HeadWest" value="@Model.LocationMeasurement.HeadWest" /><br />
                <label asp-for="LocationMeasurement.FeetWest">FeetWest</label>
                <input asp-for="LocationMeasurement.FeetWest" value="@Model.LocationMeasurement.FeetWest" /><br />
                <label asp-for="LocationMeasurement.BurialLength">BurialLength</label>
                <input asp-for="LocationMeasurement.BurialLength" value="@Model.LocationMeasurement.BurialLength" /><br />
                <label asp-for="LocationMeasurement.DiscoveryDay">DiscoveryDay</label>
                <input asp-for="LocationMeasurement.DiscoveryDay" value="@Model.LocationMeasurement.DiscoveryDay" /><br />
                <label asp-for="LocationMeasurement.DiscoveryMonth">DiscoveryMonth</label>
                <input asp-for="LocationMeasurement.DiscoveryMonth" value="@Model.LocationMeasurement.DiscoveryMonth" /><br />
                <label asp-for="LocationMeasurement.DiscoveryYear">DiscoveryYear</label>
                <input asp-for="LocationMeasurement.DiscoveryYear" value="@Model.LocationMeasurement.DiscoveryYear" /><br />
                <label asp-for="LocationMeasurement.Cluster">Cluster</label>
                <input asp-for="LocationMeasurement.Cluster" value="@Model.LocationMeasurement.Cluster" /><br />
                <label asp-for="LocationMeasurement.BurialRack">BurialRack</label>
                <input asp-for="LocationMeasurement.BurialRack" value="@Model.LocationMeasurement.BurialRack" />
            }
            else
            {
                @*if it's blank then the user who creates this form will be the creator *@
                @*this is the first time it is being created last modified and created are the same person*@
                <input asp-for="LocationMeasurement.LastModifiedBy" hidden value="@User.Identity.Name" />
                @*keep the created information the same*@
                <input asp-for="LocationMeasurement.CreatedBy" hidden value="@User.Identity.Name" />

                @*if it's blank then the user who creates this form will be the creator *@
                <input asp-for="LocationMeasurement.CreatedBy" hidden value="@User.Identity.Name" />
                <label asp-for="LocationMeasurement.Nors">NORS</label>
                <select asp-for="LocationMeasurement.Nors">
                    <option value="">--Select One--</option>
                    <option value="N">North</option>
                    <option value="S">South</option>
                </select>
                <label asp-for="LocationMeasurement.LowNs">Low North or South Number</label>
                <select asp-for="LocationMeasurement.LowNs">
                    <option value="">--Select One--</option>
                    <option value=0>0</option>
                    <option value=10>10</option>
                    <option value=20>20</option>
                    <option value=30>30</option>
                    <option value=40>40</option>
                    <option value=50>50</option>
                    <option value=60>60</option>
                    <option value=70>70</option>
                    <option value=80>80</option>
                    <option value=90>90</option>
                    <option value=100>100</option>
                    <option value=110>110</option>
                    <option value=120>120</option>
                    <option value=130>130</option>
                    <option value=140>140</option>
                    <option value=150>150</option>
                    <option value=160>160</option>
                    <option value=170>170</option>
                    <option value=180>180</option>
                    <option value=190>190</option>
                    <option value=200>200</option>
                </select>
                <br />
                <label asp-for="LocationMeasurement.Eorw">EORW</label>
                <select asp-for="LocationMeasurement.Eorw">
                    <option value="">--Select One--</option>
                    <option value="E">East</option>
                    <option value="W">West</option>
                </select>
                <label asp-for="LocationMeasurement.LowEw">Low East or West Number</label>
                <select asp-for="LocationMeasurement.LowEw">
                    <option value="">--Select One--</option>
                    <option value=0>0</option>
                    <option value=10>10</option>
                    <option value=20>20</option>
                    <option value=30>30</option>
                    <option value=40>40</option>
                    <option value=50>50</option>
                    <option value=60>60</option>
                    <option value=70>70</option>
                    <option value=80>80</option>
                    <option value=90>90</option>
                    <option value=100>100</option>
                    <option value=110>110</option>
                    <option value=120>120</option>
                    <option value=130>130</option>
                    <option value=140>140</option>
                    <option value=150>150</option>
                    <option value=160>160</option>
                    <option value=170>170</option>
                    <option value=180>180</option>
                    <option value=200>200</option>
                </select>
                <br />
                <label asp-for="LocationMeasurement.Square">Square</label>
                <select asp-for="LocationMeasurement.Square">
                    <option value="NE">NE</option>
                    <option value="NW">NW</option>
                    <option value="SE">SE</option>
                    <option value="SW">SW</option>
                </select>
                <label asp-for="LocationMeasurement.BurialNum">Burial Number</label>
                <input asp-for="LocationMeasurement.BurialNum" />
                <label asp-for="LocationMeasurement.Direction">Direction</label>
                <select asp-for="LocationMeasurement.Direction">
                    <option value="">--Select One--</option>
                    <option value="E">East</option>
                    <option value="W">West</option>
                </select>
                <br />
                <label asp-for="LocationMeasurement.Depth">Depth</label>
                <input asp-for="LocationMeasurement.Depth" /><br />
                <label asp-for="LocationMeasurement.HeadSouth">HeadSouth</label>
                <input asp-for="LocationMeasurement.HeadSouth" /><br />
                <label asp-for="LocationMeasurement.FeetSouth">FeetSouth</label>
                <input asp-for="LocationMeasurement.FeetSouth" /><br />
                <label asp-for="LocationMeasurement.HeadWest">HeadWest</label>
                <input asp-for="LocationMeasurement.HeadWest" /><br />
                <label asp-for="LocationMeasurement.FeetWest">FeetWest</label>
                <input asp-for="LocationMeasurement.FeetWest" /><br />
                <label asp-for="LocationMeasurement.BurialLength">BurialLength</label>
                <input asp-for="LocationMeasurement.BurialLength" /><br />
                <label asp-for="LocationMeasurement.DiscoveryDay">DiscoveryDay</label>
                <input asp-for="LocationMeasurement.DiscoveryDay" /><br />
                <label asp-for="LocationMeasurement.DiscoveryMonth">DiscoveryMonth</label>
                <input asp-for="LocationMeasurement.DiscoveryMonth" /><br />
                <label asp-for="LocationMeasurement.DiscoveryYear">DiscoveryYear</label>
                <input asp-for="LocationMeasurement.DiscoveryYear" /><br />
                <label asp-for="LocationMeasurement.Cluster">Cluster</label>
                <input asp-for="LocationMeasurement.Cluster" /><br />
                <label asp-for="LocationMeasurement.BurialRack">BurialRack</label>
                <input asp-for="LocationMeasurement.BurialRack" />
            }

            <h3>Osteology</h3>
            @if (Model.Osteology != null)
            {
                <input asp-for="Osteology.CreatedBy" hidden value="@Model.Osteology.CreatedBy" />
            }
            else
            {
                @*if it's blank then the user who creates this form will be the creator *@
                <input asp-for="Osteology.CreatedBy" hidden value="@User.Identity.Name" />
            }
            <h3>Osteology Skull</h3>
            @if (Model.OsteologySkull != null)
            {
                <input asp-for="OsteologySkull.CreatedBy" hidden value="@Model.OsteologySkull.CreatedBy" />
            }
            else
            {
                @*if it's blank then the user who creates this form will be the creator *@
                <input asp-for="Osteology.CreatedBy" hidden value="@User.Identity.Name" />
            }
            <h3>Demographic</h3>
            @if (Model.Demographic != null)
            {
                <input asp-for="Demographic.CreatedBy" hidden value="@Model.Demographic.CreatedBy" />
                <input asp-for="Demographic.CreatedBy" hidden value="@Model.Demographic.CreatedBy" />

                @*they are editing*@
                <input asp-for="Identifier" hidden value="@Model.Identifier" />
                <label asp-for="Demographic.Sex">"Sex"</label>

                <select asp-for="Demographic.Sex" value="@Model.Demographic.Sex">
                    <option value="">--Select One--</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="C">Child (unknown)</option>
                </select>
                <label asp-for="Demographic.SexGe">"Sex GE" </label>
                <select asp-for="Demographic.SexGe" value="@Model.Demographic.SexGe">
                    <option value="">--Select One--</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
                <label asp-for="Demographic.HairColor">"Hair Color" </label>
                <select asp-for="Demographic.HairColor" value="@Model.Demographic.HairColor">
                    <option value="">--Select One--</option>
                    <option value="B">Brown</option>
                    <option value="R">Red</option>
                    <option value="K">Black</option>
                    <option value="D">Blonde</option>
                    <option value="A">Red-Brown</option>
                </select>

                <label asp-for="Demographic.AgeAtDeath">Age at Death (range)</label>
                <input asp-for="Demographic.AgeAtDeath" readonly value="@Model.Demographic.AgeAtDeath" />
                <label asp-for="Demographic.AgeAtDeathMin">"Estimated Min Age at Death" /</label>
                <input asp-for="Demographic.AgeAtDeathMin" value="@Model.Demographic.AgeAtDeathMin" />
                <label asp-for="Demographic.AgeAtDeathMax">"Estimated Max Age at Death" </label>
                <input asp-for="Demographic.AgeAtDeathMax" value="@Model.Demographic.AgeAtDeathMax" />
                <label asp-for="Demographic.AgeMethod">Age at Death Method</label>
                <input asp-for="Demographic.AgeMethod" readonly value="@Model.Demographic.AgeMethod" />
                <label asp-for="Demographic.Height">Height</label>
                <input asp-for="Demographic.Height" value="@Model.Demographic.Height" />
            }
            else
            {
                @*if it's blank then the user who creates this form will be the creator *@
                <input asp-for="Demographic.CreatedBy" hidden value="@User.Identity.Name" />
                <label asp-for="Demographic.Sex">"Sex"</label>

                <select asp-for="Demographic.Sex">
                    <option value="">--Select One--</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="C">Child (unknown)</option>
                </select>
                <label asp-for="Demographic.SexGe">"Sex GE" </label>
                <select asp-for="Demographic.SexGe">
                    <option value="">--Select One--</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
                <label asp-for="Demographic.HairColor">"Hair Color" </label>
                <select asp-for="Demographic.HairColor">
                    <option value="">--Select One--</option>
                    <option value="B">Brown</option>
                    <option value="R">Red</option>
                    <option value="K">Black</option>
                    <option value="D">Blonde</option>
                    <option value="A">Red-Brown</option>
                </select>

                <label asp-for="Demographic.AgeAtDeath">Age at Death (range)</label>
                <input asp-for="Demographic.AgeAtDeath" readonly />
                <label asp-for="Demographic.AgeAtDeathMin">"Estimated Min Age at Death" /</label>
                <input asp-for="Demographic.AgeAtDeathMin" />
                <label asp-for="Demographic.AgeAtDeathMax">"Estimated Max Age at Death" </label>
                <input asp-for="Demographic.AgeAtDeathMax" />
                <label asp-for="Demographic.AgeMethod">Age at Death Method</label>
                <input asp-for="Demographic.AgeMethod" />
                <label asp-for="Demographic.Height">Height</label>
                <input asp-for="Demographic.Height" />
                <button type="submit">Add New Demographic</button><br /> <br />
            }
            <h3>Artifact Bio Note</h3>
            @if (Model.ArtifactBioNote != null)
            {
                <input asp-for="ArtifactBioNote.CreatedBy" hidden value="@Model.ArtifactBioNote.CreatedBy" />
                <input type="text" asp-for="ArtifactBioNote.Id" hidden value="@Model.ArtifactBioNote.Id"/>

                <div>
                    <label asp-for="ArtifactBioNote.Rack">Rack</label>
                    <input type="text" asp-for="ArtifactBioNote.Rack" value="@Model.ArtifactBioNote.Rack" />
                </div>
                <div>
                    <label asp-for="ArtifactBioNote.ArtifactFound">ArtifactFound</label>
                    <input type="text" asp-for="ArtifactBioNote.ArtifactFound"  value="@Model.ArtifactBioNote.ArtifactFound" />
                </div>
                <div>
                    <label asp-for="ArtifactBioNote.ArtifactDescription">LowNs</label>
                    <input type="text" asp-for="ArtifactBioNote.ArtifactDescription" value="@Model.ArtifactBioNote.ArtifactDescription" />
                </div>
                <div>
                    <label asp-for="ArtifactBioNote.SampleTaken">SampleTaken</label>
                    <input type="text" asp-for="ArtifactBioNote.SampleTaken" value="@Model.ArtifactBioNote.SampleTaken" />
                </div>
                <div>
                    <label asp-for="ArtifactBioNote.BioNotes">BioNotes</label>
                    <input type="text" asp-for="ArtifactBioNote.BioNotes" value="@Model.ArtifactBioNote.BioNotes" />
                </div>
                <div>
                    <label asp-for="ArtifactBioNote.AdditionalNotes">AdditionalNotes</label>
                    <input type="text" asp-for="ArtifactBioNote.AdditionalNotes" value="@Model.ArtifactBioNote.AdditionalNotes" />
                </div>
                <div>
                    <label asp-for="ArtifactBioNote.FaceBundle">FaceBundle</label>
                    <input type="text" asp-for="ArtifactBioNote.FaceBundle" value="@Model.ArtifactBioNote.FaceBundle" />
                </div>
                <div>
                    <label asp-for="ArtifactBioNote.PathologyAnomalies">PathologyAnomalies</label>
                    <input type="text" asp-for="ArtifactBioNote.PathologyAnomalies" value="@Model.ArtifactBioNote.PathologyAnomalies" />
                </div>
                <div>
                    <label asp-for="ArtifactBioNote.BurialWraping">Burial Wrapping</label>
                    <input type="text" asp-for="ArtifactBioNote.BurialWraping" value="@Model.ArtifactBioNote.BurialWraping" />
                </div>
                <div>
                    <label asp-for="ArtifactBioNote.PreservationIndex">PreservationIndex</label>
                    <input type="text" asp-for="ArtifactBioNote.PreservationIndex" value="@Model.ArtifactBioNote.PreservationIndex" />
                </div>
            }
            else
            {
                @*if it's blank then the user who creates this form will be the creator *@
                <input asp-for="ArtifactBioNote.CreatedBy" hidden value="@User.Identity.Name" />
                <div>
                    <label asp-for="ArtifactBioNote.Id">Burial ID</label>
                    <input type="text" asp-for="ArtifactBioNote.Id" />
                </div>
                <div>
                    <label asp-for="ArtifactBioNote.Rack">Rack</label>
                    <input type="text" asp-for="ArtifactBioNote.Rack" />
                </div>
                <div>
                    <label asp-for="ArtifactBioNote.ArtifactFound">ArtifactFound</label>
                    <input type="text" asp-for="ArtifactBioNote.ArtifactFound" />
                </div>
                <div>
                    <label asp-for="ArtifactBioNote.ArtifactDescription">LowNs</label>
                    <input type="text" asp-for="ArtifactBioNote.ArtifactDescription" />
                </div>
                <div>
                    <label asp-for="ArtifactBioNote.SampleTaken">SampleTaken</label>
                    <input type="text" asp-for="ArtifactBioNote.SampleTaken" />
                </div>
                <div>
                    <label asp-for="ArtifactBioNote.BioNotes">BioNotes</label>
                    <input type="text" asp-for="ArtifactBioNote.BioNotes" />
                </div>
                <div>
                    <label asp-for="ArtifactBioNote.AdditionalNotes">AdditionalNotes</label>
                    <input type="text" asp-for="ArtifactBioNote.AdditionalNotes" />
                </div>
                <div>
                    <label asp-for="ArtifactBioNote.FaceBundle">FaceBundle</label>
                    <input type="text" asp-for="ArtifactBioNote.FaceBundle" />
                </div>
                <div>
                    <label asp-for="ArtifactBioNote.PathologyAnomalies">PathologyAnomalies</label>
                    <input type="text" asp-for="ArtifactBioNote.PathologyAnomalies" />
                </div>
                <div>
                    <label asp-for="ArtifactBioNote.BurialWraping">BurialWraping</label>
                    <input type="text" asp-for="ArtifactBioNote.BurialWraping" />
                </div>
                <div>
                    <label asp-for="ArtifactBioNote.PreservationIndex">PreservationIndex</label>
                    <input type="text" asp-for="ArtifactBioNote.PreservationIndex" />
                </div>
            }


        }
        else
        {
            @*this is the first time it is being created last modified and created are the same person*@
            <input asp-for="LocationMeasurement.LastModifiedBy" hidden value="@User.Identity.Name" />
            <input asp-for="Osteology.LastModifiedBy" hidden value="@User.Identity.Name" />
            <input asp-for="OsteologySkull.LastModifiedBy" hidden value="@User.Identity.Name" />
            <input asp-for="Demographic.LastModifiedBy" hidden value="@User.Identity.Name" />
            <input asp-for="ArtifactBioNote.LastModifiedBy" hidden value="@User.Identity.Name" />
            @*keep the created information the same*@
            <input asp-for="LocationMeasurement.CreatedBy" hidden value="@User.Identity.Name" />
            <input asp-for="Osteology.CreatedBy" hidden value="@User.Identity.Name" />
            <input asp-for="OsteologySkull.CreatedBy" hidden value="@User.Identity.Name" />
            <input asp-for="Demographic.CreatedBy" hidden value="@User.Identity.Name" />
            <input asp-for="ArtifactBioNote.CreatedBy" hidden value="@User.Identity.Name" />
        }
    </form>
</div>
