@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ ViewBag.Title = "View Burial Site"; }

@*@model IEnumerable<Intex_app.Models.Burials>*@

<header class="masthead" style="background-image: url('https://images2.minutemediacdn.com/image/upload/c_crop,h_1350,w_2400,x_0,y_340/v1571260067/shape/mentalfloss/603939-mummy_of_ukhhotep_son_of_hedjpu_met_dt11561.jpg?itok=UbK68ffp') ">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>BYU Fag el-Gamous Excavation Site</h1>
                    <span class="subheading">Intex Application</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">

                    <h2>These are the current excavated burials by BYU researchers</h2>

                    <h3>Overall Site Location Information</h3>

                    <table>
                        <thead>
                            <tr>
                                <th>Burial Location NS</th>

                                <th>Low Pair NS</th>

                                <th>High Pair NS</th>

                                <th>Burial Location EW</th>

                                <th>Low Pair EW</th>

                                <th>High Pair EW</th>


                            </tr>
                        </thead>

                        @*displaying the actual submitted information*@
                        @*<tbody>
                            @foreach (Intex_app.Models.Burials x in Model)
                            {
                <tr>
                    <td>@x.burial_location_NS</td>
                    <td>@x.low_pair_NS</td>
                    <td>@x.high_pair_NS</td>
                    <td>@x.burial_location_EW</td>
                    <td>@x.low_pair_EW</td>
                    <td>@x.high_pair_EW</td>


                </tr>}


                        </tbody>*@
                    </table>

                    <br />

                    <h3>Other Burial Site General Information</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Burial Subplot</th>

                                <th>Burial Depth</th>

                                <th>South to Head</th>

                                <th>South to feet</th>

                                <th>East to Head</th>

                                <th>East to Feet</th>

                                <th>Burial Situation</th>

                                <th>Length of Remains</th>

                                <th>Burial Number</th>

                                <th>Sample Number</th>


                            </tr>
                        </thead>

                        @*displaying the actual submitted information*@
                        @*<tbody>
                            @foreach (Intex_app.Models.Burials x in Model)
                            {
                <tr>
                    <td>@x.burial_subplot</td>
                    <td>@x.burial_depth</td>
                    <td>@x.south_to_head</td>
                    <td>@x.south_to_feet</td>
                    <td>@x.east_to_head</td>
                    <td>@x.east_to_feet</td>
                    <td>@x.burial_situation</td>
                    <td>@x.length_of_remains</td>
                    <td>@x.burial_number</td>
                    <td>@x.sample_number</td>


                </tr>}


                        </tbody>*@
                    </table>

                    <br />

                    <h3>Mummies specific information</h3>

                    <table>
                        <thead>
                            <tr>
                                <th>Gender GE</th>

                                <th>GE function total</th>

                                <th>Gender Body col</th>

                            </tr>
                        </thead>

                        @*displaying the actual submitted information*@
                        @*<tbody>
                            @foreach (Intex_app.Models.Burials x in Model)
                            {
                <tr>
                    <td>@x.gender_GE</td>
                    <td>@x.GE_function_total</td>
                    <td>@x.gender_body_col</td>
                </tr>}


                        </tbody>*@
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>
